APP_TITLE='Link shortening service'
PROJECT_HOST=127.0.0.1
PROJECT_PORT=8000
ENGINE_ECHO=False
DATABASE_DSN=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
