APP_TITLE='Link shortening service'
PROJECT_HOST=127.0.0.1
PROJECT_PORT=8000
DATABASE_DSN=postgresql+asyncpg://postgres:postgres@url_postgres:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres